
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Puppy Adoption</title>
</head>
<body>
 <h1>Puppy Name:</h1><p> <%= params[:name] %></p>
 <h1> Puppy Breed:</h1> <p><%= params[:breed] %> </p>
  <h1> Puppy Age:</h1> <p> <%= params[:age] %></p>
</body>
